%h4= @question.valeur
%br
  - if @question.choix_multiple
    - @question.choixes.each do |c|
      = check_box_tag(c.id)
      = label_tag(c.id, c.valeur)
      - if @question.champs_libre
        = text_field_tag(c.id)
      %br
  - else
    - @question.choixes.each do |c|
      = radio_button_tag(@question.id, c.id)
      = label_tag(@question.id.to_s + "_" + c.id.to_s, c.valeur)
      - if @question.champs_libre
        = text_field_tag(c.id)
      %br
