= form_for @user, url: {action: "create"} do |f|
  = f.label :naissance
  = f.date_field :naissance
  = f.label :sexe
  = select("post", "sexe", %w[Homme Femme], {}, { index: nil })
  = f.label :etat_civil
  = select("post", "etat_civil", %w[Marié(e) Célibataire Veuf/Veuve], {}, { index: nil })
  = f.label :population_foyer
  = f.number_field :pop_foyer, in: 1.0..200.0, value: 1
  = f.label :population_enfant
  = f.number_field :pop_enfant, in: 0.0..200.0, value: 0
  = f.label :population_animaux
  = f.number_field :pop_animaux, in: 0.0..200.0, value: 0
  = f.label :revenus
  = f.text_field :revenus
  = f.submit "S'inscrire"
