%h2= @sondage.nom
- i = 0
= form_tag("/reponses", method: "post") do
  - @sondage.questions.each do |question|
    - i += 1
    %h3= "Question " + i.to_s + " sur " + @nb_quest.to_s
    %br
    = render question
    %br

  = submit_tag("Enregistrer")