%h3 Se connecter
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form_user_co
    .field
      = f.label :email
      = f.email_field :email, autofocus: true
    .field
      = f.label :password, "Mot de passe"
      = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me, "Se souvenir de moi"
  .actions
    = f.submit "Se connecter", class: "right btn btn-success"
    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to "Mot de passe perdu", new_password_path(resource_name), class: "btn btn-warning"
