!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BrAnswers
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{"href" => "http://fonts.googleapis.com/css?family=Nothing+You+Could+Do", "rel" => "stylesheet", "type" => "text/css"}
    = csrf_meta_tags
  %body
    .header
      %h1.rainbow Beam Rainbow
      - if session[:user_co]
        = session[:user]["mdp"]
        = link_to "Se déconnecter", deco_users_path
      %p.notice= notice
      %p.alert= alert
    = yield
